.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.onboarding-form {
  background-color: rgb(233, 233, 233);
  width: 60%;
  margin: 3% 20% 0 20%;
  border-radius: 10px;
  border: 1px solid gray;

}

.in-form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  border: 1px solid black;
  width: 70%;
  margin: 0 15%;
  margin-bottom: 1.5%;
  height: 30px;
}
input:last-child {
  width: 4%;
  margin-top: 0;
  margin-left: 1.5%;
  /* margin-top: 1.5%; */
}


.acc-select {
  width: 70%;
  margin: 0 15%;
  margin-bottom: 1.5%;
}

.checkbox-container {
  display: flex;
}

.checkbox-container p {
  margin-top: 1%;
  /* background-color: aquamarine; */
  width: 40%;
  margin-left: 13%;
  
}

button {
  width: 50%;
  margin: 2% 25% 3% 25%;
  padding: 3% 0;
  border-radius: 5px;
}